body{background-color:darkturquoise;}
p{color:black;font-family:Arial;}
h1,h2{color:purple;font-family:"monospace";}
h3{color:purple;font-family:"monospace": text-align:center;}
table{background-color:pink;color:purple;font-family:"monospace";}


